body {background-color: lightblue;}
h1 {font-color:blue;}
p {font-family: verdana; font-size: 20px; border-style: dashed 2px;}
div.img {
    margin: 5px;
    border: 1px solid #ccc;
    left;
    width: 180px;
}

